@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css');

:root {
  --main-bg-color: #dff6ff;
  --main-border-color: rgba(41, 49, 65, 0.2);
  --side-bg-color: #293141;
  --title-txt-color: #1363df;
  --primary-color: #47b5ff;
  --negative-color: #ff6b6b;
  --table-bg-color: #f8f8f8;
  --table-border-color: #dae8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: none;
}

ul {
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  color: #000;
  user-select: none;
}
